@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegurarse de que el html y el body ocupen el 100% de la pantalla */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Animación de cambio de color del título */
@keyframes colorChange {
    0% { color: #07fc9ef0; } /* Color inicial (por ejemplo, azul) */
    50% { color: #2c22ee8f; } /* Color intermedio (por ejemplo, rojo) */
    100% { color: #f50f0f9f; } /* Color final (vuelve al azul) */
}

.color-changing-title {
    animation: colorChange 6s infinite;
}

/* Animación de cambio de fondo */
@keyframes backgroundChange {
  0% { background: #0c1e4bf1; } 
  20% { background: rgb(29, 29, 94);} /* Color inicial (por ejemplo, azul) */
  50% { background: #16134dca; } /* Color intermedio (por ejemplo, rojo) */
  100% { background:rgb(10, 22, 64); } /* Color final (vuelve al azul) */
}

.color-changing-background {
  animation: backgroundChange 6s infinite;
}


/* styles/globals.css o en tu módulo CSS */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated {
  background: linear-gradient(-45deg, #1e3a8a, #3b82f6, #2563eb, #60a5fa);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}
